In [1]:
import pandas as pd

# ⚙️ Settings
pd.set_option('display.max_columns', None) # display all columns

In [4]:
#Cargamos los CSV en sus df
df1 = pd.read_csv("Apple_2023.csv")
df2 = pd.read_csv("Apple_news_2023.csv")

In [5]:
# Hacemos un merge outer para no perder las noticias de los fines de semana
df = df1.merge(df2, on="Date", how="outer")
df

,Date,Symbol,Open,High,Low,Close,Volume,Pct_Change,News
0,2023-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Insider Claims iPhone 15 Will Be ‘Aggressively...
1,2023-01-03,AAPL,130.28,130.9000,124.170,125.07,112117471.0,-3.74,Apple Watch Ultra: Brilliant Design Upgrade Le...
2,2023-01-04,AAPL,126.89,128.6557,125.080,126.36,89113633.0,1.03,NaN
3,2023-01-05,AAPL,127.13,127.7700,124.760,125.02,80962708.0,-1.06,NaN
4,2023-01-06,AAPL,126.01,130.2900,124.890,129.62,87754715.0,3.68,NaN
...,...,...,...,...,...,...,...,...,...
291,2023-12-26,AAPL,193.61,193.8900,192.830,193.05,28919310.0,-0.28,NaN
292,2023-12-27,AAPL,192.49,193.5000,191.090,193.15,47899806.0,0.05,NaN
293,2023-12-28,AAPL,194.14,194.6600,193.170,193.58,34049898.0,0.22,NaN
294,2023-12-29,AAPL,193.90,194.4000,191.725,192.53,42672148.0,-0.54,"Apple Loop: iPhone 16 Details, MacBook Air Pri..."
295,2023-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Messages Challenge Exposed By Leaked Wh...

In [6]:
#Rellenamos los nans de la columna de News
df["News"] = df["News"].fillna("No leaked news")
df

,Date,Symbol,Open,High,Low,Close,Volume,Pct_Change,News
0,2023-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Insider Claims iPhone 15 Will Be ‘Aggressively...
1,2023-01-03,AAPL,130.28,130.9000,124.170,125.07,112117471.0,-3.74,Apple Watch Ultra: Brilliant Design Upgrade Le...
2,2023-01-04,AAPL,126.89,128.6557,125.080,126.36,89113633.0,1.03,No leaked news
3,2023-01-05,AAPL,127.13,127.7700,124.760,125.02,80962708.0,-1.06,No leaked news
4,2023-01-06,AAPL,126.01,130.2900,124.890,129.62,87754715.0,3.68,No leaked news
...,...,...,...,...,...,...,...,...,...
291,2023-12-26,AAPL,193.61,193.8900,192.830,193.05,28919310.0,-0.28,No leaked news
292,2023-12-27,AAPL,192.49,193.5000,191.090,193.15,47899806.0,0.05,No leaked news
293,2023-12-28,AAPL,194.14,194.6600,193.170,193.58,34049898.0,0.22,No leaked news
294,2023-12-29,AAPL,193.90,194.4000,191.725,192.53,42672148.0,-0.54,"Apple Loop: iPhone 16 Details, MacBook Air Pri..."
295,2023-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Messages Challenge Exposed By Leaked Wh...

In [7]:
#Sacamos los 10 días con mayores subidas
df.nlargest(10, "Pct_Change")

,Date,Symbol,Open,High,Low,Close,Volume,Pct_Change,News
102,2023-05-05,AAPL,170.975,174.300,170.760,173.57,113453171.0,4.69,No leaked news
24,2023-02-02,AAPL,148.900,151.180,148.170,150.82,118338980.0,3.71,No leaked news
4,2023-01-06,AAPL,126.010,130.290,124.890,129.62,87754715.0,3.68,No leaked news
49,2023-03-03,AAPL,148.045,151.110,147.330,151.03,70732297.0,3.51,No leaked news
83,2023-04-13,AAPL,161.630,165.800,161.420,165.56,68445649.0,3.41,No leaked news
95,2023-04-27,AAPL,165.190,168.560,165.190,168.41,64902329.0,2.84,No leaked news
25,2023-02-03,AAPL,148.030,157.380,147.830,154.50,154357337.0,2.44,No leaked news
16,2023-01-23,AAPL,138.120,143.315,137.900,141.11,81760313.0,2.35,No leaked news
144,2023-06-30,AAPL,191.630,194.480,191.260,193.97,85213216.0,2.31,No leaked news
190,2023-08-23,AAPL,178.520,181.550,178.325,181.12,52722752.0,2.19,No leaked news

In [8]:
#Sacamos los 10 días con mayores caídas
df.nsmallest(10, "Pct_Change")

,Date,Symbol,Open,High,Low,Close,Volume,Pct_Change,News
174,2023-08-04,AAPL,185.520,187.3800,181.920,181.99,115956841.0,-4.80,"Apple Loop: New iPhone Problems Confirmed, Elo..."
1,2023-01-03,AAPL,130.280,130.9000,124.170,125.07,112117471.0,-3.74,Apple Watch Ultra: Brilliant Design Upgrade Le...
204,2023-09-06,AAPL,188.400,188.8500,181.470,182.91,81755816.0,-3.58,China Reportedly Bans iPhones And Other Foreig...
205,2023-09-07,AAPL,175.180,178.2100,173.540,177.56,112488803.0,-2.92,"iPhone 15, iPhone 15 Pro Release Date: Apple S..."
39,2023-02-21,AAPL,150.200,151.3000,148.405,148.48,58867230.0,-2.67,No leaked news
191,2023-08-24,AAPL,180.674,181.1040,176.010,176.38,54945798.0,-2.62,No leaked news
245,2023-10-26,AAPL,170.370,171.3775,165.670,166.89,70625258.0,-2.46,No leaked news
222,2023-09-26,AAPL,174.820,175.2000,171.660,171.96,64588945.0,-2.34,Google Pixel 8 Leak Reveals Surprising New And...
21,2023-01-30,AAPL,144.955,145.5500,142.850,143.00,64015274.0,-2.01,No leaked news
218,2023-09-20,AAPL,179.260,179.6950,175.400,175.49,58436181.0,-2.00,No leaked news

In [9]:
#Vemos que pasa los días que hay más de una noticia
df[df["Date"] == "2023-08-25"]

,Date,Symbol,Open,High,Low,Close,Volume,Pct_Change,News
192,2023-08-25,AAPL,177.38,179.15,175.82,178.61,51449594.0,1.26,Apple Watch Ultra 2 May Look Like Nomad’s Cool...
193,2023-08-25,AAPL,177.38,179.15,175.82,178.61,51449594.0,1.26,Exactly When Apple Will Launch iPhone 15 Pro M...